.chatListSingle {
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 80px;
}

.userImage {
  img {
    border-radius: 100%;
    width: 60px;
    height: 60px;
  }
  position: relative;
  span {
    position: absolute;
    right: 0;
    bottom: 7px;
    height: 12px;
    width: 12px;
    background-color: #36ce00;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid white;
  }
}

.chatDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chatNameTime {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  align-items: center;
  h5 {
    color: var(--font-clr);
    margin-left: 1rem;
  }
  p {
    display: inline;
    font-size: 12px;
    color: var(--font-clr-grey);
  }

  .unreadCount {
    background-color: var(--clr-p);
    color: white;
    margin-right: 0.5rem;
    padding: 0.2rem 0.3rem;
    border-radius: 10px;
  }
}

.chatmsg {
  margin-left: 1rem;
  font-size: 14px;
  color: var(--font-clr-grey);
}
.unreadMsg {
  color: var(--font-clr);
  font-weight: 600;
}

.activeChat {
  background-color: var(--background-clr-grey);
}
