.chatScreenHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  height: 9vh;
}

.chatScreenHeader-left {
  display: flex;
  align-items: center;
  img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
  }

  div {
    margin-left: 0.5rem;
    color: var(--font-clr);
    p {
      color: var(--font-clr-grey);
      font-size: 14px;
    }
  }
}

.chatScreenHeader-right {
  display: flex;

  div {
    margin: 0 0.2rem;
  }
}
